body {
    margin: 0;
    font-family: consolas, arial;
}
canvas{
    width: 100%;
    height: 100%;
    background: #000;
}
#begin{
    color:#FFF;
    position: absolute;
    top: 40%;
    width: 100%;
    opacity: 1;
    transition: 1s ease;
    cursor: pointer;
}
#begin *{
    margin: 0;
    padding: 0;
    text-align: center;
    user-select: none;
}
#begin p{
    font-size: 12px;
}
#control-panel{
    position: absolute;
    bottom:5px;
    right:5px;
    padding: 10px;
    width: 350px;
    border: 1px solid #00FFFF;
    border-radius: 2px;
    opacity: 0;
    color: #00FFFF;
    transition: 1s ease;
}
#control-panel .b{
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
}
#control-panel .l{
    font-size: 12px;
}
#control-panel hr{
    border: .5px solid #00FFFF;
}
#stats{
    position: relative;
}
.slider-collect{
    display:inline-block;
    padding-right: 15px;
}
.slider-wrap{
    position: relative;
    width: 160px;
}
/* The slider itself */
.slider {
    /* position: absolute;
    top: 12.5px;
    left: 0; */
    appearance: none;
    width: 125px; 
    height: 2px; /* Specified height */
    background: #808080; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    transition: opacity .2s;
    margin: 0;
    padding: 0;
    margin-left: 8px;

}
.slider::-webkit-slider-thumb {
    appearance: none;
    width: 8px; /* Set a specific slider handle width */
    height: 8px; /* Slider handle height */
    border: 1px solid #00FFFF;
    cursor: pointer; /* Cursor on hover */
}
.number{
    position: absolute;
    right:0; 
    top: 6px;
    width: 20px;
    margin: 0;
    padding: 0;
    background: rgba(0,0,0,0);
    cursor:default;
}
/* Mouse-over effects */

.slider-wrap .m-l{
    position: absolute; 
    left: 0;
    top: 5px;
    z-index: 99;
    cursor:default;
}
.slider-wrap:hover *{
    opacity: 1
}

.o8{ opacity: .8}
.o5{ opacity: .5}

.col-0{
    color: #DDDDFF;
}

.col-1{
    color: #DDFFDD;
}


.col-2{
    color: #FFDDDD;
}


